h1 {
	position: relative;
	text-align: center;
	font: sans-serif;
	font-weight: 300px;
	line-height: 34px;
	font-size: 28px;
	text-transform: uppercase;
	margin-top: 12px;
	margin-bottom: 16px;
	min-width: 200;
}

 .dangky{
  margin-top: 150px;
  width: 600px;
  height: 300px;
  margin-left: 30%;
  background-color: rgb(231, 228, 228);
  border-radius: 25px;
}